openapi: 3.0.1
info:
  title: ANZO Digital Brokers Experience API
  version: v1
  x-provenance:
    harvestedBy: API Evangelist
    harvestDate: '2026-07-25'
    portal: https://connect.api-au.qbe.com/apis
    method: Assembled from QBE's own anonymously-published Azure API Management developer-portal data endpoints. info/servers/securitySchemes
      come verbatim from GET https://connect.api-au.qbe.com/developer/apis/x-digital-brokers-qbe-anzov1?export=true&format=openapi+json
      (HTTP 200), which QBE returns with an empty paths object to anonymous callers. Paths, parameters, request/response bodies
      and examples come verbatim from GET https://connect.api-au.qbe.com/developer/apis/x-digital-brokers-qbe-anzov1/operations
      and .../operations/{operationId} (HTTP 200). components.schemas come verbatim from GET https://connect.api-au.qbe.com/developer/apis/x-digital-brokers-qbe-anzov1/schemas/{schemaId}
      (HTTP 200). No endpoint, schema or scope was invented.
servers:
- url: https://gateway.api-au.qbe.com/x-digital-brokers-qbe-anzo/api
tags:
- name: Digital Brokers
paths:
  /__health:
    get:
      operationId: get-__health
      summary: /__health - GET
      tags:
      - Digital Brokers
      description: To check the health of the API
      parameters:
      - name: X-TrackingID
        in: header
        description: 'Source system''s tracking ID for troubleshooting / analysis purposes.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__healthGet200ApplicationJsonResponse'
              example:
                app: x-digital-brokers-qbe-anzo
                dateTime: '2020-11-18T01:41:29Z'
        '400':
          description: Bad request. Error occurring due to malformed payload or due to request validation error against business
            rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__healthGet400ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '401':
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__healthGet401ApplicationJsonResponse'
              example:
                errors:
                - code: HTTP_UNAUTHORISED
                  message: The requested resource
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__healthGet403ApplicationJsonResponse'
              example:
                errors:
                - code: HTTP_FORBIDDEN
                  message: You cannot access this resource.
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__healthGet404ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__healthGet405ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__healthGet500ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
  /data-model:
    post:
      operationId: post-data-model
      summary: /data-model - POST
      tags:
      - Digital Brokers
      description: /data-model - POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generated-11'
            example:
              policy:
                policyHeader:
                  variableCommRate: 0
                  brokerFeeTotal: 0
                  commissionType: VARIABLE
                  subProductCd: string
                  cancelReasonCode: CL
                  policyTransactionInformation:
                    inceptionDate: '2019-01-01'
                    effectiveDate: '2019-09-09'
                    expiryDate: '2019-09-09'
                    product: BPK
                    policyNumber: 145U475933BPK
                    policyStatus: string
                    policyMessageStatus: string
                    deleteReferIfExist: true
                    returnStatusInResponse: true
                    partialDeclineAllowed: true
                    terminateRisksNotPassed: true
                    transactionType: NEW_QUOTE
                  PDSDetails:
                    QMNumber: QM8166
                    versionNo: 0318
                    url: http://mock.qbe.com.au/content/idcplg?IdcService=GET_FILE&dDocName=PRODCT123456&RevisionSelectionMethod=Latest&Rendition=primary
                customerParty:
                  firstName: string
                  lastName: string
                  taxIndicator: I
                  taxPercent: 0
                  orgName: string
                  orgABN: '14069979460'
                  businessName: string
                  tradingName: string
                  businessEntity: string
                  emailNotification: true
                  contact:
                    primaryEmailAddress: example@qbe.com
                    mobilePhoneNumber: string
                    workPhoneNumber: string
                    homePhoneNumber: string
                  location:
                    moniker: 0HOAUGFgXjBwAAAAAIAwEAAAAACe4lEAAgAAAAAAAAAGQAAAAA.....wAAAAAAAAAAADMgZmlndHJlZQA-
                    addressLine1: 2 park street
                    addressLine2: string
                    addressLine3: string
                    city: Sydney
                    stateCode: NSW
                    postalCode: '2000'
                risks:
                - partnerId: TBD
                  riskAttachmentDate: '2019-09-09'
                  riskClassCode: BFP
                  riskEffectiveDate: '2019-09-09'
                  terminationDate: '2019-09-09'
                  terminationReason: TL
                  riskMode: A
                  riskNumber: 1
                  riskReferenceId: '1002'
                  clauses:
                  - clauseWording:
                    - effectiveDate: '2019-09-09'
                      riskClass: AGM
                      premiumClasses:
                      - TBD
                      clauseCode: AGM
                      clauseDescription: sample
                      clauseWordingLines:
                      - wording: TBD
                        varNo:
                        - 0
                      clauseWordingVariable:
                      - title: string
                        type: string
                        length: string
                        indent: string
                        data: string
                  location:
                    addressLine1: 2 park street
                    partnerId: location-a1
                    addressRelationshipType: string
                    situationNumber: string
                    addressLine3: string
                    moniker: 0HOAUGFgXjBwAAAAAIAwEAAAAACe4lEAAgAAAAAAAAAGQAAAAA.....wAAAAAAAAAAADMgZmlndHJlZQA-
                    situationTurnover: 0
                    stateCode: NSW
                    situationLocated: string
                    city: Sydney
                    addressLine2: string
                    postalCode: '2000'
                  interestedParties:
                  - name1: string
                    name2: string
                    address:
                      addressLine1: string
                      addressLine2: string
                      addressLine3: string
                    type: string
                    description: string
                    terminatedDate: string
                  premium:
                    brokerFee: 0
                    brokerFeeGST: 0
                    premiumClass:
                    - classType: BFF
                      FAPPremium:
                        premiumClass: string
                        premium: 11
                        GST: 22
                        FSL: 33
                        brokerFee: 44
                        brokerFeeGST: 44
                        duty: 0
                        totalPremium: 0
                        agentComm: 0
                        agentCommRate: 0
                        agentCommGST: 0
                        adjustmentIndicator: true
                        adjustmentAmount: 0
                        adjustmentPercentage: 0
                      totalPostedToDatePremium:
                        premiumClass: string
                        premium: 11
                        GST: 22
                        FSL: 33
                        brokerFee: 44
                        brokerFeeGST: 44
                        duty: 0
                        totalPremium: 0
                        agentComm: 0
                        agentCommRate: 0
                        agentCommGST: 0
                        adjustmentIndicator: true
                        adjustmentAmount: 0
                        adjustmentPercentage: 0
                      transactionPremium:
                        premiumClass: string
                        premium: 11
                        GST: 22
                        FSL: 33
                        brokerFee: 44
                        brokerFeeGST: 44
                        duty: 0
                        totalPremium: 0
                        agentComm: 0
                        agentCommRate: 0
                        agentCommGST: 0
                        adjustmentIndicator: true
                        adjustmentAmount: 0
                        adjustmentPercentage: 0
                  riskDetail:
                    riskBPKLiability:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      numberOfEmployees: 0
                      limitOfLiability: 5000000
                      liabilityExcess: 500
                      liabilityExposure: string
                      productsLiability: 0
                      goodsInPhysicalControl: 0
                      tenantsFireLiability: 0
                      annualTurnover: 0
                      propertyOwners: 'Yes'
                      propertyOwnersDesc: string
                      propertyValue: 0
                      paymentToContractors: 0
                      adjustmentIndicator: true
                      adjustmentPercentage: 0
                    riskBPKFireBusinessInterruption:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      govermentResidential: string
                      fire:
                        construction: string
                        yearBuilt: string
                        sprinkler: string
                        buildingSI: 0
                        buildingExcess: 500
                        contentsSI: 0
                        contentsExcess: 500
                        flood: string
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      businessInterruption:
                        indemnityPeriod: '3'
                        grossIncomeSI: 0
                        grossIncomeExcess: 500
                        ICOWSI: 0
                        payrollSI: 0
                        weeklyIncomeSI: 0
                        weeksCovered: 0
                        claimsPreparationCosts: 0
                        OSAcctRecSI: 0
                        OSAcctRecExcess: 500
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                    riskBPKGeneralPropertyMachineryBreakdown:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      generalProperty:
                        generalPropertySumInsured: 0
                        generalPropertyExcess: 500
                        FSLArea: string
                        FSLAreaDesc: string
                        itemList:
                        - itemGroup: string
                          itemGroupDesc: string
                          itemDescription: string
                          serialNumber: string
                          itemSI: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      machineryBreakdown:
                        machineryBreakDownSI: 0
                        machineryBreakDownExcess: 500
                        refrigerators: 0
                        microwaves: 0
                        airConditioners: 0
                        boilers: 0
                        dishwashers: 0
                        cashRegisters: 0
                        others: 0
                        deteriorationOfStockSI: 0
                        goodsInTransitSI: 0
                        goodsInTransitExcess: 0
                        machinerySpecifiedItemSI: 0
                        machineryBlanketSI: 0
                        machineryBlanketNumberOfItems: 0
                        machineryItems:
                        - machineryCode: string
                          machineryDesc: string
                          machinerySI: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                    riskBPKTheftMoneyGlass:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      governmentResidential: string
                      theft:
                        contentsSI: 0
                        theftExcess: 500
                        stockSI: 0
                        tobaccoSI: 0
                        liquorSI: 0
                        WOForcibleEntrySI: 0
                        security: string
                        securityDesc: string
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      money:
                        inTransitSI: 0
                        moneyExcess: 500
                        inResidenceSI: 0
                        busHrsSI: 0
                        afterHrsSI: 0
                        inSafeSI: 0
                        blanketCover: Y
                        blanketCoverDesc: string
                        blanketCoverSI: 2500
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      glass:
                        numberIlluminatedSigns: 0
                        illuminatedSignsSI: 0
                        glassExcess: 500
                        largestPaneOfGlass: A
                        largestPaneOfGlassDesc: string
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                    riskMSAPrivateMotor:
                      coverDetails:
                        coverCode: string
                        basisOfCover: string
                        thirdPartyLimit: 0
                      driverDetails:
                        nominatedDriver:
                        - nominatedDriverName: string
                          nominatedDriverDOB: string
                          nominatedDriverSex: string
                          nominatedDriverUse: 0
                      vehicleDetails:
                        vehicleMake: string
                        vehicleYear: 0
                        vehicleDescription: string
                        registrationNumber: string
                        engineNumber: string
                        VINChassisNumber: string
                        ownVehicles: string
                        accessoryDetails:
                          accessories:
                          - detailAccessoryCode: string
                            description: string
                            detail: string
                            sumInsured: 0
                        modificationDetails:
                          modifications:
                          - modCode: string
                      underwritingDetails:
                        vehicledModified: string
                        financeType: string
                        postCodeGaragedNight: string
                        parkedMethodNight: string
                        purposeOfUse: string
                        noClaimBonus: '-060'
                        protectedNoClaimBonus: string
                        hireCar: string
                        excesses:
                          basicExcess: 0
                          electedExcess: string
                          imposedExcess: 0
                          ageExcess: string
                          nonNominatedExcess: 0
                        sumInsured:
                          agreedValueSumInsured: 0
                        newCarReplacement: {}
                        gatewayPurposeOfUse: PX
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      glassDetails:
                        nvic: string
                    riskMVACommercialMotor:
                      vehicleDetails:
                        vehicleDescription: string
                        coverCode: string
                        vehicleClass: string
                        vehicleClassExt: string
                        description: string
                        registered: string
                        regoNo: string
                        engineNo: string
                        modelNo: string
                        yearManufactured: string
                        trailerType: string
                        accessoryDetails:
                          accessories:
                          - detailAccessoryCode: string
                            description: string
                            sumInsured: 0
                        cropTypeCode: string
                        cropTypeDesc: string
                        contractingUse: string
                        cropContractCode: string
                      underwritingDetails:
                        vehicleSumInsured: 0
                        vehicleModified: string
                        riskState: string
                        postcodeGaraged: string
                        financeType: string
                        NCBCode: string
                        driversYearOfBirth: string
                        thirdPartyLiability: 0
                        basicExcess: 0
                        electedExcess: 0
                        imposedExcess: 0
                        ageExcess: string
                        constructionMiningUse: string
                        kilometerRadius: string
                        contentsSumInsured: 0
                        windscreenCover: string
                        gatewayPurposeOfUse: string
                        dangerousGoodsSublimit: string
                        downtimeCover: string
                        downtimeCoverDailyIndemnity: 0
                        downtimeCoverPeriod: 0
                        downtimeCoverDeferment: 0
                        downtimeExpense: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      glassDetails:
                        nvic: string
                    riskBPKEmployeeDishonestyTaxAuditTransit:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      fidelity:
                        fidelitySI: 0
                        fidelityExcess: 500
                        employees: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      taxAudit:
                        taxAuditSI: 5000
                        taxAuditExcess: 500
                        turnover: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      transit:
                        transitSI: 0
                        transitExcess: 500
                        annualSendings: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                    riskBPKEmploymentLiability:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      employmentPracticesLimit: 100000
                      employmentPracticesExcess: 500
                      employmentPracticesEmployees: 0
                      practicesAdjustmentIndicator: true
                      practicesAdjustmentPercentage: 0
                      statutoryLimit: 250000
                      statutoryExcess: 500
                      statutoryTurnover: 0
                      statutoryAdjustmentIndicator: true
                      statutoryAdjustmentPercentage: 0
                      professionalLimit: 0
                      professionalAggregate: 0
                      professionalExcess: 0
                      professionalAdjustmentIndicator: true
                      professionalAdjustmentPercentage: 0
                      retroActiveDate: string
                    riskBPKElectronicEquipment:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      electronicEquipmentSI: 0
                      electronicEquipmentExcess: 500
                      dataMediaSI: 0
                      dataMediaExcess: 0
                      ICOWSI: 0
                      ICOWExcess: 0
                      ICOWIndemnityPeriod: 0
                      electronicItems:
                      - itemDesc: string
                        itemGroup: string
                        itemGroupDesc: string
                        yearPurchased: string
                        sumInsured: 0
                      adjustmentIndicator: true
                      adjustmentPercentage: 0
                    riskHPKHome:
                      typeOfCover: string
                      workersCompensation: string
                      numberOfEmployees: 0
                      insuredRetired: string
                      insuredDateOfBirth: string
                      occupancyType: string
                      construction: string
                      buildingType: string
                      yearBuilt: 0
                      townWater: string
                      heritageListed: string
                      sizeOfBuilding: 0
                      conditionOfBuilding: string
                      reWired: string
                      rePlumbed: string
                      previousInsurer: string
                      claimsInLast3Years: 0
                      claimsInLast5Years: 0
                      backToBaseAlarm: string
                      localAlarm: string
                      windowBars: string
                      windowLocks: string
                      deadlocks: string
                      highSecurity: string
                      fixedSafe: string
                      securityIntercom: string
                      elevated: string
                      buildingSumInsured: 0
                      buildingBasicXs: 0
                      buildingImposedXs: 0
                      contentsSumInsured: 0
                      contentsBasicXs: 0
                      contentsImposedXs: 0
                      valuablesSumInsured: 0
                      valuablesBasicXs: 0
                      valuablesImposedXs: 0
                      specifiedContentsItems:
                      - description: string
                        sumInsured: 0
                      specifiedValuablesItems:
                      - description: string
                        sumInsured: 0
                      rentDefault: 0
                      maliciousDamage: string
                      liabilitySumInsured: 0
                      buildingOccupancy: string
                      buildingConstruction: string
                      roofType: string
                      numberOfUnits: 0
                      buildingYear: string
                      landSize: string
                      squares: 0
                      condHome: string
                      loyalty: 0
                      ncb: 0
                      threeYearClaims: 0
                      fiveYearClaims: 0
                      floodFlag: string
                      floodExcess: 0
                      floodQuestion01: string
                      floodQuestion02: string
                      floodQuestion03: string
                      floodQuestion04: string
                      floodQuestion05: string
                      floodQuestion06: string
                      floodQuestion07: string
                      floodQuestion08: string
                      floodQuestion09: string
                      floodQuestion10: string
                      adjustmentIndicator: true
                      adjustmentPercentage: 0
                    riskPANPersonalInjuryType:
                      occupation:
                        occupationCode: string
                        occupationDesc: string
                        occupationClass: string
                      individual:
                        insuredPerson: string
                        dateOfBirth: string
                        gender: string
                        height: 0
                        weight: 0
                        smoker: string
                        employeeCategory: string
                        typeOfCover: string
                        postCodeOfRisk: string
                      personal:
                        permanentResident: string
                        workOutsideAus: string
                        newVenture: string
                      earnings:
                        weeklyGrossIncome: 0
                        expensesIncurred: 0
                        expensesFixed: 0
                      cover:
                        capitalBenefits: 0
                        conditions: string
                        injuryWeeklyBenefits: 0
                        injuryBenefitPeriod: 0
                        injuryExclusionPeriod: 0
                        includeIllnessCover: string
                        illnessWeeklyBenefits: 0
                        illnessBenefitPeriod: 0
                        illnessExclusionPeriod: 0
                        ajustmentIndicator: true
                        adjustmentPercentage: 0
                      UWQuestionAnswer:
                        answer: string
                        UWQuestionDetail:
                        - itemDate: string
                          detailLine:
                          - string
                      selectedActivities:
                        activityCode:
                        - string
                questions:
                - questionId: '1'
                  answer:
                    text: 'false'
                  historyDetailsList:
                  - itemDate: string
                    cause: string
                    riskClass: string
                    cost: 0
                    detailLines:
                    - string
                referral:
                  reasons:
                  - string
                policyPremium:
                  stampDutyExemptIndicator: string
                  FAPPremium: 0
                  totalPostedToDatePremium: 0
                  transactionPremium: 0
                  adjustmentIndicator: true
                  adjustmentAmount: 0
                  adjustmentPercentage: 0
      responses:
        '200':
          description: ''
  /auth/policies/{policyId}/abandon:
    post:
      operationId: To-Abandon-a-policy-before-it-has-been-bound
      summary: Abandon a policy before it has been bound
      tags:
      - Digital Brokers
      description: The headers used for tracking transactions end-to-end
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
      - name: X-Mock-Scenario
        in: header
        description: "Optionally specify the mock scenario to mimick specific API scenario. \nNote: Scenerio definition need\
          \ to be setup in API Wiremock (Mulesoft mocking service) before you can invoke it using this header.\n"
        schema:
          type: string
      - name: X-TrackingID
        in: header
        description: 'Source system''s tracking ID for troubleshooting / analysis purposes.

          '
        required: true
        schema:
          type: string
      - name: X-ClientSecret
        in: header
        required: true
        schema:
          type: string
      - name: X-Mockable
        in: header
        description: 'The header flag to control the mocking of the api,if required.

          '
        required: true
        schema:
          type: boolean
      - name: X-Partner-Id
        in: header
        required: true
        schema:
          type: string
          enum:
          - AUSTBROKERS
          - MARSH
          - PSC
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
      - name: x-abandon-policy-transaction
        in: header
        description: Specifies which preceding policy lifecycle transaction to abandon
        required: true
        schema:
          type: string
          enum:
          - ENDORSEMENT
          - CANCEL
          - RENEWAL
      - name: x-master-ref-id
        in: header
        description: Send the x-master-ref-id value that was send during preceeding transaction for endorse/cancel/renewal
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generated-10'
            example: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdAbandonPost200ApplicationJsonResponse'
              example: {}
        '400':
          description: Bad request. Error occurring due to malformed payload or due to request validation error against business
            rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdAbandonPost400ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '401':
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdAbandonPost401ApplicationJsonResponse'
              example:
                errors:
                - code: HTTP_UNAUTHORISED
                  message: The requested resource
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdAbandonPost403ApplicationJsonResponse'
              example:
                errors:
                - code: HTTP_FORBIDDEN
                  message: You cannot access this resource.
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdAbandonPost404ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdAbandonPost405ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdAbandonPost500ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
  /auth/quotes/{quoteId}/abandon:
    post:
      operationId: To-Abandon-an-existing-quote
      summary: Abandon an existing quote
      tags:
      - Digital Brokers
      description: The headers used for tracking transactions end-to-end
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
      - name: X-Mock-Scenario
        in: header
        description: "Optionally specify the mock scenario to mimick specific API scenario. \nNote: Scenerio definition need\
          \ to be setup in API Wiremock (Mulesoft mocking service) before you can invoke it using this header.\n"
        schema:
          type: string
      - name: X-TrackingID
        in: header
        description: 'Source system''s tracking ID for troubleshooting / analysis purposes.

          '
        required: true
        schema:
          type: string
      - name: X-ClientSecret
        in: header
        required: true
        schema:
          type: string
      - name: X-Mockable
        in: header
        description: 'The header flag to control the mocking of the api,if required.

          '
        required: true
        schema:
          type: boolean
      - name: X-Partner-Id
        in: header
        required: true
        schema:
          type: string
          enum:
          - AUSTBROKERS
          - MARSH
          - PSC
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
      - name: x-master-ref-id
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generated-4'
            example: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthQuotesQuoteIdAbandonPost200ApplicationJsonResponse'
              example: {}
        '400':
          description: Bad request. Error occurring due to malformed payload or due to request validation error against business
            rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthQuotesQuoteIdAbandonPost400ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '401':
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthQuotesQuoteIdAbandonPost401ApplicationJsonResponse'
              example:
                errors:
                - code: HTTP_UNAUTHORISED
                  message: The requested resource
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthQuotesQuoteIdAbandonPost403ApplicationJsonResponse'
              example:
                errors:
                - code: HTTP_FORBIDDEN
                  message: You cannot access this resource.
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthQuotesQuoteIdAbandonPost404ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthQuotesQuoteIdAbandonPost405ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthQuotesQuoteIdAbandonPost500ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
  /auth/policies/{policyId}/endorse:
    post:
      operationId: Amend-an-existing-policy-endorsement
      summary: Amend an existing policy (endorsement)
      tags:
      - Digital Brokers
      description: The headers used for tracking transactions end-to-end
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
      - name: X-Mock-Scenario
        in: header
        description: "Optionally specify the mock scenario to mimick specific API scenario. \nNote: Scenerio definition need\
          \ to be setup in API Wiremock (Mulesoft mocking service) before you can invoke it using this header.\n"
        schema:
          type: string
      - name: X-TrackingID
        in: header
        description: 'Source system''s tracking ID for troubleshooting / analysis purposes.

          '
        required: true
        schema:
          type: string
      - name: X-ClientSecret
        in: header
        required: true
        schema:
          type: string
      - name: X-Mockable
        in: header
        description: 'The header flag to control the mocking of the api,if required.

          '
        required: true
        schema:
          type: boolean
      - name: X-Partner-Id
        in: header
        required: true
        schema:
          type: string
          enum:
          - AUSTBROKERS
          - MARSH
          - PSC
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
      - name: x-master-ref-id
        in: header
        description: 'The reference ID to be used for subsequent transaction for the policy. System will generate one if not
          provided '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generated-6'
            example:
              policy:
                policyHeader:
                  variableCommRate: 0
                  brokerFeeTotal: 0
                  commissionType: VARIABLE
                  subProductCd: string
                  cancelReasonCode: CL
                  policyTransactionInformation:
                    inceptionDate: '2019-01-01'
                    effectiveDate: '2019-09-09'
                    expiryDate: '2019-09-09'
                    product: BPK
                    policyNumber: 145U475933BPK
                    policyStatus: string
                    policyMessageStatus: string
                    deleteReferIfExist: true
                    returnStatusInResponse: true
                    partialDeclineAllowed: true
                    terminateRisksNotPassed: true
                    transactionType: NEW_QUOTE
                  PDSDetails:
                    QMNumber: QM8166
                    versionNo: 0318
                    url: http://mock.qbe.com.au/content/idcplg?IdcService=GET_FILE&dDocName=PRODCT123456&RevisionSelectionMethod=Latest&Rendition=primary
                customerParty:
                  firstName: string
                  lastName: string
                  taxIndicator: I
                  taxPercent: 0
                  orgName: string
                  orgABN: '14069979460'
                  businessName: string
                  tradingName: string
                  businessEntity: string
                  emailNotification: true
                  contact:
                    primaryEmailAddress: example@qbe.com
                    mobilePhoneNumber: string
                    workPhoneNumber: string
                    homePhoneNumber: string
                  location:
                    moniker: 0HOAUGFgXjBwAAAAAIAwEAAAAACe4lEAAgAAAAAAAAAGQAAAAA.....wAAAAAAAAAAADMgZmlndHJlZQA-
                    addressLine1: 2 park street
                    addressLine2: string
                    addressLine3: string
                    city: Sydney
                    stateCode: NSW
                    postalCode: '2000'
                risks:
                - partnerId: TBD
                  riskAttachmentDate: '2019-09-09'
                  riskClassCode: BFP
                  riskEffectiveDate: '2019-09-09'
                  terminationDate: '2019-09-09'
                  terminationReason: TL
                  riskMode: A
                  riskNumber: 1
                  riskReferenceId: '1002'
                  clauses:
                  - clauseWording:
                    - effectiveDate: '2019-09-09'
                      riskClass: AGM
                      premiumClasses:
                      - TBD
                      clauseCode: AGM
                      clauseDescription: sample
                      clauseWordingLines:
                      - wording: TBD
                        varNo:
                        - 0
                      clauseWordingVariable:
                      - title: string
                        type: string
                        length: string
                        indent: string
                        data: string
                  location:
                    addressLine1: 2 park street
                    partnerId: location-a1
                    addressRelationshipType: string
                    situationNumber: string
                    addressLine3: string
                    moniker: 0HOAUGFgXjBwAAAAAIAwEAAAAACe4lEAAgAAAAAAAAAGQAAAAA.....wAAAAAAAAAAADMgZmlndHJlZQA-
                    situationTurnover: 0
                    stateCode: NSW
                    situationLocated: string
                    city: Sydney
                    addressLine2: string
                    postalCode: '2000'
                  interestedParties:
                  - name1: string
                    name2: string
                    address:
                      addressLine1: string
                      addressLine2: string
                      addressLine3: string
                    type: string
                    description: string
                    terminatedDate: string
                  premium:
                    brokerFee: 0
                    brokerFeeGST: 0
                    premiumClass:
                    - classType: BFF
                      FAPPremium:
                        premiumClass: string
                        premium: 11
                        GST: 22
                        FSL: 33
                        brokerFee: 44
                        brokerFeeGST: 44
                        duty: 0
                        totalPremium: 0
                        agentComm: 0
                        agentCommRate: 0
                        agentCommGST: 0
                        adjustmentIndicator: true
                        adjustmentAmount: 0
                        adjustmentPercentage: 0
                      totalPostedToDatePremium:
                        premiumClass: string
                        premium: 11
                        GST: 22
                        FSL: 33
                        brokerFee: 44
                        brokerFeeGST: 44
                        duty: 0
                        totalPremium: 0
                        agentComm: 0
                        agentCommRate: 0
                        agentCommGST: 0
                        adjustmentIndicator: true
                        adjustmentAmount: 0
                        adjustmentPercentage: 0
                      transactionPremium:
                        premiumClass: string
                        premium: 11
                        GST: 22
                        FSL: 33
                        brokerFee: 44
                        brokerFeeGST: 44
                        duty: 0
                        totalPremium: 0
                        agentComm: 0
                        agentCommRate: 0
                        agentCommGST: 0
                        adjustmentIndicator: true
                        adjustmentAmount: 0
                        adjustmentPercentage: 0
                  riskDetail:
                    riskBPKLiability:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      numberOfEmployees: 0
                      limitOfLiability: 5000000
                      liabilityExcess: 500
                      liabilityExposure: string
                      productsLiability: 0
                      goodsInPhysicalControl: 0
                      tenantsFireLiability: 0
                      annualTurnover: 0
                      propertyOwners: 'Yes'
                      propertyOwnersDesc: string
                      propertyValue: 0
                      paymentToContractors: 0
                      adjustmentIndicator: true
                      adjustmentPercentage: 0
                    riskBPKFireBusinessInterruption:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      govermentResidential: string
                      fire:
                        construction: string
                        yearBuilt: string
                        sprinkler: string
                        buildingSI: 0
                        buildingExcess: 500
                        contentsSI: 0
                        contentsExcess: 500
                        flood: string
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      businessInterruption:
                        indemnityPeriod: '3'
                        grossIncomeSI: 0
                        grossIncomeExcess: 500
                        ICOWSI: 0
                        payrollSI: 0
                        weeklyIncomeSI: 0
                        weeksCovered: 0
                        claimsPreparationCosts: 0
                        OSAcctRecSI: 0
                        OSAcctRecExcess: 500
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                    riskBPKGeneralPropertyMachineryBreakdown:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      generalProperty:
                        generalPropertySumInsured: 0
                        generalPropertyExcess: 500
                        FSLArea: string
                        FSLAreaDesc: string
                        itemList:
                        - itemGroup: string
                          itemGroupDesc: string
                          itemDescription: string
                          serialNumber: string
                          itemSI: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      machineryBreakdown:
                        machineryBreakDownSI: 0
                        machineryBreakDownExcess: 500
                        refrigerators: 0
                        microwaves: 0
                        airConditioners: 0
                        boilers: 0
                        dishwashers: 0
                        cashRegisters: 0
                        others: 0
                        deteriorationOfStockSI: 0
                        goodsInTransitSI: 0
                        goodsInTransitExcess: 0
                        machinerySpecifiedItemSI: 0
                        machineryBlanketSI: 0
                        machineryBlanketNumberOfItems: 0
                        machineryItems:
                        - machineryCode: string
                          machineryDesc: string
                          machinerySI: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                    riskBPKTheftMoneyGlass:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      governmentResidential: string
                      theft:
                        contentsSI: 0
                        theftExcess: 500
                        stockSI: 0
                        tobaccoSI: 0
                        liquorSI: 0
                        WOForcibleEntrySI: 0
                        security: string
                        securityDesc: string
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      money:
                        inTransitSI: 0
                        moneyExcess: 500
                        inResidenceSI: 0
                        busHrsSI: 0
                        afterHrsSI: 0
                        inSafeSI: 0
                        blanketCover: Y
                        blanketCoverDesc: string
                        blanketCoverSI: 2500
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      glass:
                        numberIlluminatedSigns: 0
                        illuminatedSignsSI: 0
                        glassExcess: 500
                        largestPaneOfGlass: A
                        largestPaneOfGlassDesc: string
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                    riskMSAPrivateMotor:
                      coverDetails:
                        coverCode: string
                        basisOfCover: string
                        thirdPartyLimit: 0
                      driverDetails:
                        nominatedDriver:
                        - nominatedDriverName: string
                          nominatedDriverDOB: string
                          nominatedDriverSex: string
                          nominatedDriverUse: 0
                      vehicleDetails:
                        vehicleMake: string
                        vehicleYear: 0
                        vehicleDescription: string
                        registrationNumber: string
                        engineNumber: string
                        VINChassisNumber: string
                        ownVehicles: string
                        accessoryDetails:
                          accessories:
                          - detailAccessoryCode: string
                            description: string
                            detail: string
                            sumInsured: 0
                        modificationDetails:
                          modifications:
                          - modCode: string
                      underwritingDetails:
                        vehicledModified: string
                        financeType: string
                        postCodeGaragedNight: string
                        parkedMethodNight: string
                        purposeOfUse: string
                        noClaimBonus: '-060'
                        protectedNoClaimBonus: string
                        hireCar: string
                        excesses:
                          basicExcess: 0
                          electedExcess: string
                          imposedExcess: 0
                          ageExcess: string
                          nonNominatedExcess: 0
                        sumInsured:
                          agreedValueSumInsured: 0
                        newCarReplacement: {}
                        gatewayPurposeOfUse: PX
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      glassDetails:
                        nvic: string
                    riskMVACommercialMotor:
                      vehicleDetails:
                        vehicleDescription: string
                        coverCode: string
                        vehicleClass: string
                        vehicleClassExt: string
                        description: string
                        registered: string
                        regoNo: string
                        engineNo: string
                        modelNo: string
                        yearManufactured: string
                        trailerType: string
                        accessoryDetails:
                          accessories:
                          - detailAccessoryCode: string
                            description: string
                            sumInsured: 0
                        cropTypeCode: string
                        cropTypeDesc: string
                        contractingUse: string
                        cropContractCode: string
                      underwritingDetails:
                        vehicleSumInsured: 0
                        vehicleModified: string
                        riskState: string
                        postcodeGaraged: string
                        financeType: string
                        NCBCode: string
                        driversYearOfBirth: string
                        thirdPartyLiability: 0
                        basicExcess: 0
                        electedExcess: 0
                        imposedExcess: 0
                        ageExcess: string
                        constructionMiningUse: string
                        kilometerRadius: string
                        contentsSumInsured: 0
                        windscreenCover: string
                        gatewayPurposeOfUse: string
                        dangerousGoodsSublimit: string
                        downtimeCover: string
                        downtimeCoverDailyIndemnity: 0
                        downtimeCoverPeriod: 0
                        downtimeCoverDeferment: 0
                        downtimeExpense: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      glassDetails:
                        nvic: string
                    riskBPKEmployeeDishonestyTaxAuditTransit:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      fidelity:
                        fidelitySI: 0
                        fidelityExcess: 500
                        employees: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      taxAudit:
                        taxAuditSI: 5000
                        taxAuditExcess: 500
                        turnover: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      transit:
                        transitSI: 0
                        transitExcess: 500
                        annualSendings: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                    riskBPKEmploymentLiability:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      employmentPracticesLimit: 100000
                      employmentPracticesExcess: 500
                      employmentPracticesEmployees: 0
                      practicesAdjustmentIndicator: true
                      practicesAdjustmentPercentage: 0
                      statutoryLimit: 250000
                      statutoryExcess: 500
                      statutoryTurnover: 0
                      statutoryAdjustmentIndicator: true
                      statutoryAdjustmentPercentage: 0
                      professionalLimit: 0
                      professionalAggregate: 0
                      professionalExcess: 0
                      professionalAdjustmentIndicator: true
                      professionalAdjustmentPercentage: 0
                      retroActiveDate: string
                    riskBPKElectronicEquipment:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      electronicEquipmentSI: 0
                      electronicEquipmentExcess: 500
                      dataMediaSI: 0
                      dataMediaExcess: 0
                      ICOWSI: 0
                      ICOWExcess: 0
                      ICOWIndemnityPeriod: 0
                      electronicItems:
                      - itemDesc: string
                        itemGroup: string
                        itemGroupDesc: string
                        yearPurchased: string
                        sumInsured: 0
                      adjustmentIndicator: true
                      adjustmentPercentage: 0
                    riskHPKHome:
                      typeOfCover: string
                      workersCompensation: string
                      numberOfEmployees: 0
                      insuredRetired: string
                      insuredDateOfBirth: string
                      occupancyType: string
                      construction: string
                      buildingType: string
                      yearBuilt: 0
                      townWater: string
                      heritageListed: string
                      sizeOfBuilding: 0
                      conditionOfBuilding: string
                      reWired: string
                      rePlumbed: string
                      previousInsurer: string
                      claimsInLast3Years: 0
                      claimsInLast5Years: 0
                      backToBaseAlarm: string
                      localAlarm: string
                      windowBars: string
                      windowLocks: string
                      deadlocks: string
                      highSecurity: string
                      fixedSafe: string
                      securityIntercom: string
                      elevated: string
                      buildingSumInsured: 0
                      buildingBasicXs: 0
                      buildingImposedXs: 0
                      contentsSumInsured: 0
                      contentsBasicXs: 0
                      contentsImposedXs: 0
                      valuablesSumInsured: 0
                      valuablesBasicXs: 0
                      valuablesImposedXs: 0
                      specifiedContentsItems:
                      - description: string
                        sumInsured: 0
                      specifiedValuablesItems:
                      - description: string
                        sumInsured: 0
                      rentDefault: 0
                      maliciousDamage: string
                      liabilitySumInsured: 0
                      buildingOccupancy: string
                      buildingConstruction: string
                      roofType: string
                      numberOfUnits: 0
                      buildingYear: string
                      landSize: string
                      squares: 0
                      condHome: string
                      loyalty: 0
                      ncb: 0
                      threeYearClaims: 0
                      fiveYearClaims: 0
                      floodFlag: string
                      floodExcess: 0
                      floodQuestion01: string
                      floodQuestion02: string
                      floodQuestion03: string
                      floodQuestion04: string
                      floodQuestion05: string
                      floodQuestion06: string
                      floodQuestion07: string
                      floodQuestion08: string
                      floodQuestion09: string
                      floodQuestion10: string
                      adjustmentIndicator: true
                      adjustmentPercentage: 0
                    riskPANPersonalInjuryType:
                      occupation:
                        occupationCode: string
                        occupationDesc: string
                        occupationClass: string
                      individual:
                        insuredPerson: string
                        dateOfBirth: string
                        gender: string
                        height: 0
                        weight: 0
                        smoker: string
                        employeeCategory: string
                        typeOfCover: string
                        postCodeOfRisk: string
                      personal:
                        permanentResident: string
                        workOutsideAus: string
                        newVenture: string
                      earnings:
                        weeklyGrossIncome: 0
                        expensesIncurred: 0
                        expensesFixed: 0
                      cover:
                        capitalBenefits: 0
                        conditions: string
                        injuryWeeklyBenefits: 0
                        injuryBenefitPeriod: 0
                        injuryExclusionPeriod: 0
                        includeIllnessCover: string
                        illnessWeeklyBenefits: 0
                        illnessBenefitPeriod: 0
                        illnessExclusionPeriod: 0
                        ajustmentIndicator: true
                        adjustmentPercentage: 0
                      UWQuestionAnswer:
                        answer: string
                        UWQuestionDetail:
                        - itemDate: string
                          detailLine:
                          - string
                      selectedActivities:
                        activityCode:
                        - string
                questions:
                - questionId: '1'
                  answer:
                    text: 'false'
                  historyDetailsList:
                  - itemDate: string
                    cause: string
                    riskClass: string
                    cost: 0
                    detailLines:
                    - string
                referral:
                  reasons:
                  - string
                policyPremium:
                  stampDutyExemptIndicator: string
                  FAPPremium: 0
                  totalPostedToDatePremium: 0
                  transactionPremium: 0
                  adjustmentIndicator: true
                  adjustmentAmount: 0
                  adjustmentPercentage: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdEndorsePost200ApplicationJsonResponse'
              example: {}
        '400':
          description: Bad request. Error occurring due to malformed payload or due to request validation error against business
            rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdEndorsePost400ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '401':
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdEndorsePost401ApplicationJsonResponse'
              example:
                errors:
                - code: HTTP_UNAUTHORISED
                  message: The requested resource
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdEndorsePost403ApplicationJsonResponse'
              example:
                errors:
                - code: HTTP_FORBIDDEN
                  message: You cannot access this resource.
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdEndorsePost404ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdEndorsePost405ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdEndorsePost500ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
  /auth/policies/{policyId}/bind:
    post:
      operationId: Bind-a-policy-to-save-change-after-endoresement-cancellation-or-renewal-has
      summary: Bind a policy to save change after endoresement, cancellation or renewal has occurred
      tags:
      - Digital Brokers
      description: The headers used for tracking transactions end-to-end
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
      - name: X-Mock-Scenario
        in: header
        description: "Optionally specify the mock scenario to mimick specific API scenario. \nNote: Scenerio definition need\
          \ to be setup in API Wiremock (Mulesoft mocking service) before you can invoke it using this header.\n"
        schema:
          type: string
      - name: x-bind-policy-transaction
        in: header
        description: Specifies which preceding policy lifecycle transaction to bind or confirm
        required: true
        schema:
          type: string
          enum:
          - ENDORSEMENT
          - CANCEL
          - RENEWAL
      - name: X-TrackingID
        in: header
        description: 'Source system''s tracking ID for troubleshooting / analysis purposes.

          '
        required: true
        schema:
          type: string
      - name: X-ClientSecret
        in: header
        required: true
        schema:
          type: string
      - name: X-Mockable
        in: header
        description: 'The header flag to control the mocking of the api,if required.

          '
        required: true
        schema:
          type: boolean
      - name: X-Partner-Id
        in: header
        required: true
        schema:
          type: string
          enum:
          - AUSTBROKERS
          - MARSH
          - PSC
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
      - name: x-master-ref-id
        in: header
        description: Send the x-master-ref-id value that was send during preceeding transaction for endorse/cancel/renewal
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generated-9'
            example:
              policy:
                policyHeader:
                  variableCommRate: 0
                  brokerFeeTotal: 0
                  commissionType: VARIABLE
                  subProductCd: string
                  cancelReasonCode: CL
                  policyTransactionInformation:
                    inceptionDate: '2019-01-01'
                    effectiveDate: '2019-09-09'
                    expiryDate: '2019-09-09'
                    product: BPK
                    policyNumber: 145U475933BPK
                    policyStatus: string
                    policyMessageStatus: string
                    deleteReferIfExist: true
                    returnStatusInResponse: true
                    partialDeclineAllowed: true
                    terminateRisksNotPassed: true
                    transactionType: NEW_QUOTE
                  PDSDetails:
                    QMNumber: QM8166
                    versionNo: 0318
                    url: http://mock.qbe.com.au/content/idcplg?IdcService=GET_FILE&dDocName=PRODCT123456&RevisionSelectionMethod=Latest&Rendition=primary
                customerParty:
                  firstName: string
                  lastName: string
                  taxIndicator: I
                  taxPercent: 0
                  orgName: string
                  orgABN: '14069979460'
                  businessName: string
                  tradingName: string
                  businessEntity: string
                  emailNotification: true
                  contact:
                    primaryEmailAddress: example@qbe.com
                    mobilePhoneNumber: string
                    workPhoneNumber: string
                    homePhoneNumber: string
                  location:
                    moniker: 0HOAUGFgXjBwAAAAAIAwEAAAAACe4lEAAgAAAAAAAAAGQAAAAA.....wAAAAAAAAAAADMgZmlndHJlZQA-
                    addressLine1: 2 park street
                    addressLine2: string
                    addressLine3: string
                    city: Sydney
                    stateCode: NSW
                    postalCode: '2000'
                risks:
                - partnerId: TBD
                  riskAttachmentDate: '2019-09-09'
                  riskClassCode: BFP
                  riskEffectiveDate: '2019-09-09'
                  terminationDate: '2019-09-09'
                  terminationReason: TL
                  riskMode: A
                  riskNumber: 1
                  riskReferenceId: '1002'
                  clauses:
                  - clauseWording:
                    - effectiveDate: '2019-09-09'
                      riskClass: AGM
                      premiumClasses:
                      - TBD
                      clauseCode: AGM
                      clauseDescription: sample
                      clauseWordingLines:
                      - wording: TBD
                        varNo:
                        - 0
                      clauseWordingVariable:
                      - title: string
                        type: string
                        length: string
                        indent: string
                        data: string
                  location:
                    addressLine1: 2 park street
                    partnerId: location-a1
                    addressRelationshipType: string
                    situationNumber: string
                    addressLine3: string
                    moniker: 0HOAUGFgXjBwAAAAAIAwEAAAAACe4lEAAgAAAAAAAAAGQAAAAA.....wAAAAAAAAAAADMgZmlndHJlZQA-
                    situationTurnover: 0
                    stateCode: NSW
                    situationLocated: string
                    city: Sydney
                    addressLine2: string
                    postalCode: '2000'
                  interestedParties:
                  - name1: string
                    name2: string
                    address:
                      addressLine1: string
                      addressLine2: string
                      addressLine3: string
                    type: string
                    description: string
                    terminatedDate: string
                  premium:
                    brokerFee: 0
                    brokerFeeGST: 0
                    premiumClass:
                    - classType: BFF
                      FAPPremium:
                        premiumClass: string
                        premium: 11
                        GST: 22
                        FSL: 33
                        brokerFee: 44
                        brokerFeeGST: 44
                        duty: 0
                        totalPremium: 0
                        agentComm: 0
                        agentCommRate: 0
                        agentCommGST: 0
                        adjustmentIndicator: true
                        adjustmentAmount: 0
                        adjustmentPercentage: 0
                      totalPostedToDatePremium:
                        premiumClass: string
                        premium: 11
                        GST: 22
                        FSL: 33
                        brokerFee: 44
                        brokerFeeGST: 44
                        duty: 0
                        totalPremium: 0
                        agentComm: 0
                        agentCommRate: 0
                        agentCommGST: 0
                        adjustmentIndicator: true
                        adjustmentAmount: 0
                        adjustmentPercentage: 0
                      transactionPremium:
                        premiumClass: string
                        premium: 11
                        GST: 22
                        FSL: 33
                        brokerFee: 44
                        brokerFeeGST: 44
                        duty: 0
                        totalPremium: 0
                        agentComm: 0
                        agentCommRate: 0
                        agentCommGST: 0
                        adjustmentIndicator: true
                        adjustmentAmount: 0
                        adjustmentPercentage: 0
                  riskDetail:
                    riskBPKLiability:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      numberOfEmployees: 0
                      limitOfLiability: 5000000
                      liabilityExcess: 500
                      liabilityExposure: string
                      productsLiability: 0
                      goodsInPhysicalControl: 0
                      tenantsFireLiability: 0
                      annualTurnover: 0
                      propertyOwners: 'Yes'
                      propertyOwnersDesc: string
                      propertyValue: 0
                      paymentToContractors: 0
                      adjustmentIndicator: true
                      adjustmentPercentage: 0
                    riskBPKFireBusinessInterruption:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      govermentResidential: string
                      fire:
                        construction: string
                        yearBuilt: string
                        sprinkler: string
                        buildingSI: 0
                        buildingExcess: 500
                        contentsSI: 0
                        contentsExcess: 500
                        flood: string
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      businessInterruption:
                        indemnityPeriod: '3'
                        grossIncomeSI: 0
                        grossIncomeExcess: 500
                        ICOWSI: 0
                        payrollSI: 0
                        weeklyIncomeSI: 0
                        weeksCovered: 0
                        claimsPreparationCosts: 0
                        OSAcctRecSI: 0
                        OSAcctRecExcess: 500
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                    riskBPKGeneralPropertyMachineryBreakdown:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      generalProperty:
                        generalPropertySumInsured: 0
                        generalPropertyExcess: 500
                        FSLArea: string
                        FSLAreaDesc: string
                        itemList:
                        - itemGroup: string
                          itemGroupDesc: string
                          itemDescription: string
                          serialNumber: string
                          itemSI: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      machineryBreakdown:
                        machineryBreakDownSI: 0
                        machineryBreakDownExcess: 500
                        refrigerators: 0
                        microwaves: 0
                        airConditioners: 0
                        boilers: 0
                        dishwashers: 0
                        cashRegisters: 0
                        others: 0
                        deteriorationOfStockSI: 0
                        goodsInTransitSI: 0
                        goodsInTransitExcess: 0
                        machinerySpecifiedItemSI: 0
                        machineryBlanketSI: 0
                        machineryBlanketNumberOfItems: 0
                        machineryItems:
                        - machineryCode: string
                          machineryDesc: string
                          machinerySI: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                    riskBPKTheftMoneyGlass:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      governmentResidential: string
                      theft:
                        contentsSI: 0
                        theftExcess: 500
                        stockSI: 0
                        tobaccoSI: 0
                        liquorSI: 0
                        WOForcibleEntrySI: 0
                        security: string
                        securityDesc: string
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      money:
                        inTransitSI: 0
                        moneyExcess: 500
                        inResidenceSI: 0
                        busHrsSI: 0
                        afterHrsSI: 0
                        inSafeSI: 0
                        blanketCover: Y
                        blanketCoverDesc: string
                        blanketCoverSI: 2500
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      glass:
                        numberIlluminatedSigns: 0
                        illuminatedSignsSI: 0
                        glassExcess: 500
                        largestPaneOfGlass: A
                        largestPaneOfGlassDesc: string
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                    riskMSAPrivateMotor:
                      coverDetails:
                        coverCode: string
                        basisOfCover: string
                        thirdPartyLimit: 0
                      driverDetails:
                        nominatedDriver:
                        - nominatedDriverName: string
                          nominatedDriverDOB: string
                          nominatedDriverSex: string
                          nominatedDriverUse: 0
                      vehicleDetails:
                        vehicleMake: string
                        vehicleYear: 0
                        vehicleDescription: string
                        registrationNumber: string
                        engineNumber: string
                        VINChassisNumber: string
                        ownVehicles: string
                        accessoryDetails:
                          accessories:
                          - detailAccessoryCode: string
                            description: string
                            detail: string
                            sumInsured: 0
                        modificationDetails:
                          modifications:
                          - modCode: string
                      underwritingDetails:
                        vehicledModified: string
                        financeType: string
                        postCodeGaragedNight: string
                        parkedMethodNight: string
                        purposeOfUse: string
                        noClaimBonus: '-060'
                        protectedNoClaimBonus: string
                        hireCar: string
                        excesses:
                          basicExcess: 0
                          electedExcess: string
                          imposedExcess: 0
                          ageExcess: string
                          nonNominatedExcess: 0
                        sumInsured:
                          agreedValueSumInsured: 0
                        newCarReplacement: {}
                        gatewayPurposeOfUse: PX
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      glassDetails:
                        nvic: string
                    riskMVACommercialMotor:
                      vehicleDetails:
                        vehicleDescription: string
                        coverCode: string
                        vehicleClass: string
                        vehicleClassExt: string
                        description: string
                        registered: string
                        regoNo: string
                        engineNo: string
                        modelNo: string
                        yearManufactured: string
                        trailerType: string
                        accessoryDetails:
                          accessories:
                          - detailAccessoryCode: string
                            description: string
                            sumInsured: 0
                        cropTypeCode: string
                        cropTypeDesc: string
                        contractingUse: string
                        cropContractCode: string
                      underwritingDetails:
                        vehicleSumInsured: 0
                        vehicleModified: string
                        riskState: string
                        postcodeGaraged: string
                        financeType: string
                        NCBCode: string
                        driversYearOfBirth: string
                        thirdPartyLiability: 0
                        basicExcess: 0
                        electedExcess: 0
                        imposedExcess: 0
                        ageExcess: string
                        constructionMiningUse: string
                        kilometerRadius: string
                        contentsSumInsured: 0
                        windscreenCover: string
                        gatewayPurposeOfUse: string
                        dangerousGoodsSublimit: string
                        downtimeCover: string
                        downtimeCoverDailyIndemnity: 0
                        downtimeCoverPeriod: 0
                        downtimeCoverDeferment: 0
                        downtimeExpense: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      glassDetails:
                        nvic: string
                    riskBPKEmployeeDishonestyTaxAuditTransit:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      fidelity:
                        fidelitySI: 0
                        fidelityExcess: 500
                        employees: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      taxAudit:
                        taxAuditSI: 5000
                        taxAuditExcess: 500
                        turnover: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                      transit:
                        transitSI: 0
                        transitExcess: 500
                        annualSendings: 0
                        adjustmentIndicator: true
                        adjustmentPercentage: 0
                    riskBPKEmploymentLiability:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      employmentPracticesLimit: 100000
                      employmentPracticesExcess: 500
                      employmentPracticesEmployees: 0
                      practicesAdjustmentIndicator: true
                      practicesAdjustmentPercentage: 0
                      statutoryLimit: 250000
                      statutoryExcess: 500
                      statutoryTurnover: 0
                      statutoryAdjustmentIndicator: true
                      statutoryAdjustmentPercentage: 0
                      professionalLimit: 0
                      professionalAggregate: 0
                      professionalExcess: 0
                      professionalAdjustmentIndicator: true
                      professionalAdjustmentPercentage: 0
                      retroActiveDate: string
                    riskBPKElectronicEquipment:
                      occupationCode: string
                      occupationDescription: string
                      business: string
                      electronicEquipmentSI: 0
                      electronicEquipmentExcess: 500
                      dataMediaSI: 0
                      dataMediaExcess: 0
                      ICOWSI: 0
                      ICOWExcess: 0
                      ICOWIndemnityPeriod: 0
                      electronicItems:
                      - itemDesc: string
                        itemGroup: string
                        itemGroupDesc: string
                        yearPurchased: string
                        sumInsured: 0
                      adjustmentIndicator: true
                      adjustmentPercentage: 0
                    riskHPKHome:
                      typeOfCover: string
                      workersCompensation: string
                      numberOfEmployees: 0
                      insuredRetired: string
                      insuredDateOfBirth: string
                      occupancyType: string
                      construction: string
                      buildingType: string
                      yearBuilt: 0
                      townWater: string
                      heritageListed: string
                      sizeOfBuilding: 0
                      conditionOfBuilding: string
                      reWired: string
                      rePlumbed: string
                      previousInsurer: string
                      claimsInLast3Years: 0
                      claimsInLast5Years: 0
                      backToBaseAlarm: string
                      localAlarm: string
                      windowBars: string
                      windowLocks: string
                      deadlocks: string
                      highSecurity: string
                      fixedSafe: string
                      securityIntercom: string
                      elevated: string
                      buildingSumInsured: 0
                      buildingBasicXs: 0
                      buildingImposedXs: 0
                      contentsSumInsured: 0
                      contentsBasicXs: 0
                      contentsImposedXs: 0
                      valuablesSumInsured: 0
                      valuablesBasicXs: 0
                      valuablesImposedXs: 0
                      specifiedContentsItems:
                      - description: string
                        sumInsured: 0
                      specifiedValuablesItems:
                      - description: string
                        sumInsured: 0
                      rentDefault: 0
                      maliciousDamage: string
                      liabilitySumInsured: 0
                      buildingOccupancy: string
                      buildingConstruction: string
                      roofType: string
                      numberOfUnits: 0
                      buildingYear: string
                      landSize: string
                      squares: 0
                      condHome: string
                      loyalty: 0
                      ncb: 0
                      threeYearClaims: 0
                      fiveYearClaims: 0
                      floodFlag: string
                      floodExcess: 0
                      floodQuestion01: string
                      floodQuestion02: string
                      floodQuestion03: string
                      floodQuestion04: string
                      floodQuestion05: string
                      floodQuestion06: string
                      floodQuestion07: string
                      floodQuestion08: string
                      floodQuestion09: string
                      floodQuestion10: string
                      adjustmentIndicator: true
                      adjustmentPercentage: 0
                    riskPANPersonalInjuryType:
                      occupation:
                        occupationCode: string
                        occupationDesc: string
                        occupationClass: string
                      individual:
                        insuredPerson: string
                        dateOfBirth: string
                        gender: string
                        height: 0
                        weight: 0
                        smoker: string
                        employeeCategory: string
                        typeOfCover: string
                        postCodeOfRisk: string
                      personal:
                        permanentResident: string
                        workOutsideAus: string
                        newVenture: string
                      earnings:
                        weeklyGrossIncome: 0
                        expensesIncurred: 0
                        expensesFixed: 0
                      cover:
                        capitalBenefits: 0
                        conditions: string
                        injuryWeeklyBenefits: 0
                        injuryBenefitPeriod: 0
                        injuryExclusionPeriod: 0
                        includeIllnessCover: string
                        illnessWeeklyBenefits: 0
                        illnessBenefitPeriod: 0
                        illnessExclusionPeriod: 0
                        ajustmentIndicator: true
                        adjustmentPercentage: 0
                      UWQuestionAnswer:
                        answer: string
                        UWQuestionDetail:
                        - itemDate: string
                          detailLine:
                          - string
                      selectedActivities:
                        activityCode:
                        - string
                questions:
                - questionId: '1'
                  answer:
                    text: 'false'
                  historyDetailsList:
                  - itemDate: string
                    cause: string
                    riskClass: string
                    cost: 0
                    detailLines:
                    - string
                referral:
                  reasons:
                  - string
                policyPremium:
                  stampDutyExemptIndicator: string
                  FAPPremium: 0
                  totalPostedToDatePremium: 0
                  transactionPremium: 0
                  adjustmentIndicator: true
                  adjustmentAmount: 0
                  adjustmentPercentage: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdBindPost200ApplicationJsonResponse'
              example: {}
        '400':
          description: Bad request. Error occurring due to malformed payload or due to request validation error against business
            rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdBindPost400ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '401':
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdBindPost401ApplicationJsonResponse'
              example:
                errors:
                - code: HTTP_UNAUTHORISED
                  message: The requested resource
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdBindPost403ApplicationJsonResponse'
              example:
                errors:
                - code: HTTP_FORBIDDEN
                  message: You cannot access this resource.
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdBindPost404ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdBindPost405ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthPoliciesPolicyIdBindPost500ApplicationJsonResponse'
              example:
                errors:
                - code: string
                  message: string
                  details: {}
  /auth/policies/{policyId}/cancel:
    post:
      operationId: Cancel-an-existing-policy
      summary: Cancel an existing policy
      tags:
      - Digital Brokers
      description: The headers used for tracking transactions end-to-end
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
      - name: X-Mock-Scenario
        in: header
        description: "Optionally specify the mock scenario to mimick specific API scenario. \nNote: Scenerio definition need\
          \ to be setup in API Wiremock (Mulesoft mocking service) before you can invoke it using this header.\n"
        schema:
          type: string
      - name: X-TrackingID
        in: header
        description: 'Source system''s tracking ID for troubleshooting / analysis purposes.

          '
        required: true
        schema:
          type: string
      - name: X-ClientSecret
        in: header
        required: true
        schema:
          type: string
      - name: X-Mockable
        in: header
        description: 'The header flag to control the mocking of the api,if required.

          '
        required: true
        schema:
          type: boolean
      - name: X-Partner-Id
        in: header
        required: true
        schema:
          type: string
          enum:
          - AUSTBROKERS
          - MARSH
          - PSC
      - name: X-ClientID
        in: header
        required: true
        schema:
          type: string
      - name: x-master-ref-id
        in: header
        description: Send a new master reference ID for policy lifecycle transaction. API will generate one if none supplied
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generated-8'
            example:
              policy:
                policyHeader:
                  variableCommRate: 0
                  brokerFeeTotal: 0
                  commissionType: VARIABLE
                  subProductCd: string
                  cancelReasonCode: CL
                  policyTransactionInformation:
                    inceptionDate: '2019-01-01'
                    effectiveDate: '2019-09-09'
                    expiryDate: '2019-09-09'
                    product: BPK
                    policyNumber: 145U475933BPK
                    policyStatus: string
                    policyMessageStatus: string
                    deleteReferIfExist: true
                    returnStatusInResponse: true
                    partialDeclineAllowed: true
                    terminateRisksNotPassed: true
                    transactionType: NEW_QUOTE
                  PDSDetails:
                    QMNumber: QM8166
                    versionNo: 0318
                    url: http://mock.qbe.com.au/content/idcplg?IdcService=GET_FILE&dDocName=PRODCT123456&RevisionSelectionMethod=Latest&Rendition=primary
                customerParty:
                  firstName: string
                  lastName: string
                  taxIndicator: I
                  taxPercent: 0
                  orgName: string
                  orgABN: '14069979460'
                  businessName: string
                  tradingName: string
                  businessEntity: string
                  emailNotification: true
[...]
